.header{
    padding: 10px;
    text-align: center;
    justify-content: center;
}
.element {
    padding: 5px;
    text-align: center;
    justify-content: center;
    font-size: 10px;
}
.table-teachers{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

